<%= javascript_pack_tag 'track'%>

<div data-turbolinks="false"></div>
<div class="flex w-full justify-center mt-4">
<canvas id="myCanvas" width="450", height="580" class="bg-white border border-gray-500" ></canvas>
<div>
<div><button id="incomplete_button" class="mx-2 my-2 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded object-right">Incomplete</button></div>
<div><button id="cancel_pass_button" class="mx-2 my-2 bg-red-500 hover:bg-red-700 border-red-500 hover:border-red-700 text-sm border-4 text-white py-1 px-2 rounded object-right">Cancel</button></div>
</div>

</div>


