<%= javascript_pack_tag 'track'%>

<div data-turbolinks="false"></div>
<div class="flex w-full justify-center mt-4">
<canvas id="myCanvas" width="450", height="580" class="bg-white border border-gray-500" ></canvas>
</div>


